body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background:linear-gradient(to right, #16ab8d, #91dfb6);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-links {
    display: flex;
}

.checkout-link a,
.back-to-cart a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin: 20px;
}

.sidebar {
    background: #ecf0f1;
    color: #2c3e50;
    padding: 20px;
    width: 250px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.payment-method-label {
    display: block;
    margin-bottom: 10px;
}

.payment-box {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin-left: 20px;
}

.payment-form {
    display: none;
}

.payment-form.active {
    display: block;
}

.payment-form label,
.payment-form input {
    margin-bottom: 15px;
    width: 100%;
}

.payment-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.footer {
    background:linear-gradient(to right, #16ab8d, #91dfb6);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.payment-logo {
    width: 20px;
    margin-right: 10px;
}
.alltypes{
    height: 140px;
    width: 300px;
    margin-right: 400px;
}

